@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
  margin: 0;
  background-color: '#FAFAFA';
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  overflow-x: auto;
}

code {
  font-family: 'Poppins';
}
*{
  background-color: '#f0f0f0';
}